/* Estilos para el cuerpo de la página */
body {
    background-image: url('../Imagenes/CC.png'); /* Imagen de fondo */
    text-align: center; /* Alineación del texto al centro */
    background-size: cover; /* Ajuste de tamaño de fondo */
    background-repeat: no-repeat; /* No repetir la imagen de fondo */
    padding-top: 50px; /* Espaciado superior */
    background-position: center; /* Posición del fondo en el centro */
    background-attachment: fixed; /* Fondo fijo durante el desplazamiento */
}

/* Estilos para el logotipo de la barra de navegación */
.navbar-brand {
    font-size: 25px; /* Tamaño del texto del logotipo */
}

/* Estilos para los enlaces de la barra de navegación */
.navbar-nav .nav-item {
    margin-right: 5px; /* Margen derecho entre elementos de navegación */
}

.navbar-nav .nav-link {
    color: #000000; /* Color del texto del enlace */
    padding: 10px 15px; /* Espaciado interno del enlace */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 25px; /* Tamaño del texto del enlace */
}

/* Cambio de color al pasar el ratón sobre el enlace */
.navbar-nav .nav-link:hover {
    background-color: #00ff0d; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color del texto al pasar el ratón */
}

/* Estilos para el ícono del botón de hamburguesa */
.navbar-toggler-icon {
    background-color: #00ff0d; /* Color del ícono del botón de hamburguesa */
}

/* Estilos para el título principal */
h1 {
    color: #00ff0d; /* Color del texto del título */
}

/* Estilos para el formulario */
.mt-3 {
    color: #343a40; /* Color del texto del formulario */
    font-weight: bold; /* Peso de la fuente en negrita */
}

.form-control {
    text-align: center; /* Alineación del texto en el formulario */
    cursor: pointer; /* Cambio de cursor al pasar el ratón sobre el formulario */
}

.form-control:hover {
    text-align: center; /* Alineación del texto al pasar el ratón sobre el formulario */
    border: 1px solid #00ff0d; /* Borde al pasar el ratón */
}

#cesarForm {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 10px; /* Bordes redondeados del formulario */
    background-color: #fff; /* Color de fondo del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del formulario */
    position: absolute; /* Posición absoluta */
    top: 50%; /* Posicionamiento vertical al 50% */
    left: 50%; /* Posicionamiento horizontal al 50% */
    transform: translate(-50%, -50%); /* Centrar en la pantalla */
    margin-top: 50px; /* Margen superior */
}

/* Estilos para los botones */
button {
    margin-top: 10px; /* Margen superior de los botones */
}

/* Estilos para el resultado */
#resultado {
    font-weight: bold; /* Peso de la fuente en negrita */
}

.mt-4 {
    color: #00ff0d; /* Color del texto */
}

/* Estilos para el botón de éxito */
.btn-success {
    color: #fff; /* Color del texto del botón de éxito */
    background-color: #00ff0d; /* Color de fondo del botón de éxito */
    border-color: #00ff0d; /* Color del borde del botón de éxito */
}

.btn-success:hover {
    background-color: #009207; /* Color de fondo al pasar el ratón sobre el botón de éxito */
    border-color: #009207; /* Color del borde al pasar el ratón sobre el botón de éxito */
}

.form-control:hover {
    border: 1px solid #00ff0d; /* Borde al pasar el ratón sobre el formulario */
}
